<div>
    <div class = "form-group">
        <label for = "Name">Name</label>
        <input type = "text" name = "Name"  id = "Name" ng-model="Name"
           placeholder = "please enter book name" class = "form-control" required>
     </div>
     
     <div class = "form-group">
        <label for = "Author">Author</label>
        <input type = "text" name = "Author"  id = "Author" ng-model="Author" 
           placeholder = "please enter book's author name" class = "form-control" required>
     </div>

     <div class = "form-group">
        <label for = "Price">Price</label>
        <input type = "text" name = "Price"  id = "Price" ng-model="Price"
           placeholder = "please enter book's price name" class = "form-control" required>
     </div>
     
     <div class = "form-group">
        <button class = "btn btn-primary" id = "add-book" ng-click="AddBook()">Add</button>
     </div>
</div>